.table-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.lpo-table {
  width: 80%;
}

.input-container {
  position: relative;
}

.input-field {
  width: 200px;
  padding: 5px;
}

.suggestion-box-container {
  width: 200px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  padding: 5px;
  z-index: 10;
}

.form-group {
  position: relative;
}

.lpo-top {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.lpo-supplier-details-form {
  width: 50%;
}

.lpo-initiated-data {
  width: 40%;
}

.lpo-creation-form {
  margin-top: 3rem;
  width: 50%;
}

.view-receive_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.view-receive-lpo-entries {
  margin-top: 2rem;
}
.stock-container {
  padding: 20px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
}

.stock-table th,
.stock-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
}

.stock-table th {
  background-color: #f2f2f2;
}

.stock-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.stock-table tr:hover {
  background-color: #ddd;
}
